In [1]:
import pandas as pd
import json

In [2]:
f = open('data/data_full.json')
data = json.load(f)

In [3]:
data.keys()

dict_keys(['oos_val', 'val', 'train', 'oos_test', 'test', 'oos_train'])

In [4]:
oos_val = data['oos_val']
val = data['val']
train = data['train']
oos_test = data['oos_test']
test = data['test']
oos_train = data['oos_train']

In [5]:
df = pd.DataFrame(train,columns=['text','intent'])

In [7]:
df

                                                    text         intent
0      what expression would i use to say i love you ...      translate
1      can you tell me how to say 'i do not speak muc...      translate
2      what is the equivalent of, 'life is good' in f...      translate
3      tell me how to say, 'it is a beautiful morning...      translate
4      if i were mongolian, how would i say that i am...      translate
...                                                  ...            ...
14995           can you explain why my card was declined  card_declined
14996  how come starbucks declined my card when i tri...  card_declined
14997        how come my card was not accepted yesterday  card_declined
14998  find out what happened to make my card get dec...  card_declined
14999                why was my card declined at safeway  card_declined

[15000 rows x 2 columns]

In [8]:
df2 = pd.DataFrame(oos_train,columns=['text','intent'])

In [9]:
df2

                                                 text intent
0               how much is an overdraft fee for bank    oos
1   why are exponents preformed before multiplicat...    oos
2                 what size wipers does this car take    oos
3                               where is the dipstick    oos
4                         how much is 1 share of aapl    oos
..                                                ...    ...
95  what percentage of species display cold bloode...    oos
96              what does it mean to be an alpha male    oos
97                      what animals have alpha males    oos
98                      why do males want to be alpha    oos
99  what's the average battery life of an android ...    oos

[100 rows x 2 columns]

In [10]:
comb = pd.concat([df,df2]).reset_index(drop=True)

In [11]:
comb

                                                    text     intent
0      what expression would i use to say i love you ...  translate
1      can you tell me how to say 'i do not speak muc...  translate
2      what is the equivalent of, 'life is good' in f...  translate
3      tell me how to say, 'it is a beautiful morning...  translate
4      if i were mongolian, how would i say that i am...  translate
...                                                  ...        ...
15095  what percentage of species display cold bloode...        oos
15096              what does it mean to be an alpha male        oos
15097                      what animals have alpha males        oos
15098                      why do males want to be alpha        oos
15099  what's the average battery life of an android ...        oos

[15100 rows x 2 columns]

In [12]:
cl = comb.intent.unique().tolist()

In [13]:
def getIndex(ls, item):
    return ls.index(item)

In [14]:
comb.intent = comb.intent.apply(lambda x: getIndex(cl,x))

In [15]:
comb

                                                    text  intent
0      what expression would i use to say i love you ...       0
1      can you tell me how to say 'i do not speak muc...       0
2      what is the equivalent of, 'life is good' in f...       0
3      tell me how to say, 'it is a beautiful morning...       0
4      if i were mongolian, how would i say that i am...       0
...                                                  ...     ...
15095  what percentage of species display cold bloode...     150
15096              what does it mean to be an alpha male     150
15097                      what animals have alpha males     150
15098                      why do males want to be alpha     150
15099  what's the average battery life of an android ...     150

[15100 rows x 2 columns]

In [16]:
# val data
df_val = pd.DataFrame(val,columns=['text','intent'])
df_oos_val = pd.DataFrame(oos_val,columns=['text','intent'])
comb_val = pd.concat([df_val,df_oos_val]).reset_index(drop=True)

In [17]:
comb_val.intent = comb_val.intent.apply(lambda x: getIndex(cl,x))

In [18]:
comb_val

                                           text  intent
0      in spanish, meet me tomorrow is said how       0
1        in french, how do i say, see you later       0
2              how do you say hello in japanese       0
3     how do i ask about the weather in chinese       0
4     how can i say "cancel my order" in french       0
...                                         ...     ...
3095         what does it mean to have equality     150
3096     what site publishes the most fake news     150
3097             can you tell me some fake news     150
3098                    is cnn really fake news     150
3099                     why is there fake news     150

[3100 rows x 2 columns]

In [24]:
df.intent = df.intent.apply(lambda x: getIndex(cl,x))
df

                                                    text  intent
0      what expression would i use to say i love you ...       0
1      can you tell me how to say 'i do not speak muc...       0
2      what is the equivalent of, 'life is good' in f...       0
3      tell me how to say, 'it is a beautiful morning...       0
4      if i were mongolian, how would i say that i am...       0
...                                                  ...     ...
14995           can you explain why my card was declined     149
14996  how come starbucks declined my card when i tri...     149
14997        how come my card was not accepted yesterday     149
14998  find out what happened to make my card get dec...     149
14999                why was my card declined at safeway     149

[15000 rows x 2 columns]

In [26]:
df2.intent = df2.intent.apply(lambda x: getIndex(cl,x))
df2

                                                 text  intent
0               how much is an overdraft fee for bank     150
1   why are exponents preformed before multiplicat...     150
2                 what size wipers does this car take     150
3                               where is the dipstick     150
4                         how much is 1 share of aapl     150
..                                                ...     ...
95  what percentage of species display cold bloode...     150
96              what does it mean to be an alpha male     150
97                      what animals have alpha males     150
98                      why do males want to be alpha     150
99  what's the average battery life of an android ...     150

[100 rows x 2 columns]

In [44]:
df_val = pd.DataFrame(val,columns=['text','intent'])
df_val.intent = df_val.intent.apply(lambda x: getIndex(cl,x))
df_val

                                                   text  intent
0              in spanish, meet me tomorrow is said how       0
1                in french, how do i say, see you later       0
2                      how do you say hello in japanese       0
3             how do i ask about the weather in chinese       0
4             how can i say "cancel my order" in french       0
...                                                 ...     ...
2995  i was at walmart trying to buy toilet paper an...     149
2996       target declined my card and i don't know why     149
2997  do you know why my card was declined at target...     149
2998  i can't figure out why my card was declined at...     149
2999  i was just at target and they declined my card...     149

[3000 rows x 2 columns]

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer()
X_train_tfidf = tfidf_vect.fit_transform(df.text)

In [29]:
X_train_tfidf.shape

(15000, 5026)

In [45]:
X_val_tfidf = tfidf_vect.transform(df_val.text)
X_val_tfidf.shape

(3000, 5026)

In [20]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf, comb.intent)

In [21]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([('vect', CountVectorizer()),('tfidf', TfidfTransformer()),('clf', MultinomialNB()),])

In [22]:
text_clf = text_clf.fit(comb.text, comb.intent)

In [24]:
import numpy as np
predicted = text_clf.predict(comb_val.text)
np.mean(predicted == comb_val.intent)

0.8503225806451613

In [23]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(comb_val.intent, predicted))

              precision    recall  f1-score   support

           0       0.54      0.95      0.69        20
           1       0.87      1.00      0.93        20
           2       1.00      1.00      1.00        20
           3       0.79      0.75      0.77        20
           4       0.71      0.85      0.77        20
           5       0.86      0.95      0.90        20
           6       0.83      0.95      0.88        20
           7       0.90      0.90      0.90        20
           8       0.87      1.00      0.93        20
           9       0.94      0.85      0.89        20
          10       1.00      0.95      0.97        20
          11       0.90      0.90      0.90        20
          12       0.85      0.55      0.67        20
          13       0.68      0.95      0.79        20
          14       0.63      0.95      0.76        20
          15       0.77      1.00      0.87        20
          16       0.91      1.00      0.95        20
          17       1.00      1.00      1.00        20
          18       0.57      0.20      0.30        20
          19       0.64      0.90      0.75        20
          20       0.75      0.75      0.75        20
          21       0.71      1.00      0.83        20
          22       0.88      0.70      0.78        20
          23       0.74      1.00      0.85        20
          24       0.70      0.80      0.74        20
          25       0.89      0.85      0.87        20
          26       0.89      0.85      0.87        20
          27       1.00      1.00      1.00        20
          28       0.95      1.00      0.98        20
          29       0.94      0.75      0.83        20
          30       0.71      0.75      0.73        20
          31       0.52      0.85      0.64        20
          32       0.94      0.85      0.89        20
          33       0.74      1.00      0.85        20
          34       0.79      0.75      0.77        20
          35       0.66      0.95      0.78        20
          36       0.83      1.00      0.91        20
          37       0.94      0.75      0.83        20
          38       0.80      1.00      0.89        20
          39       0.75      0.75      0.75        20
          40       0.78      0.90      0.84        20
          41       1.00      0.80      0.89        20
          42       1.00      1.00      1.00        20
          43       0.86      0.95      0.90        20
          44       0.77      1.00      0.87        20
          45       0.74      1.00      0.85        20
          46       0.93      0.65      0.76        20
          47       0.82      0.70      0.76        20
          48       0.90      0.95      0.93        20
          49       0.75      0.90      0.82        20
          50       1.00      0.75      0.86        20
          51       0.82      0.90      0.86        20
          52       1.00      1.00      1.00        20
          53       0.89      0.80      0.84        20
          54       1.00      1.00      1.00        20
          55       0.75      0.60      0.67        20
          56       0.95      0.90      0.92        20
          57       1.00      0.95      0.97        20
          58       0.76      0.80      0.78        20
          59       0.86      0.95      0.90        20
          60       0.87      1.00      0.93        20
          61       0.81      0.85      0.83        20
          62       0.95      0.90      0.92        20
          63       0.83      1.00      0.91        20
          64       0.91      1.00      0.95        20
          65       1.00      0.75      0.86        20
          66       1.00      1.00      1.00        20
          67       0.88      0.70      0.78        20
          68       0.90      0.95      0.93        20
          69       1.00      0.90      0.95        20
          70       0.83      0.95      0.88        20
          71       0.93      0.70      0.80        20
          72       0.95      0.95      0.95        20
          73       0.95      1.00      0.98        20
          74       0.74      0.70      0.72        20
          75       1.00      0.75      0.86        20
          76       0.94      0.80      0.86        20
          77       0.90      0.90      0.90        20
          78       0.83      1.00      0.91        20
          79       1.00      0.80      0.89        20
          80       0.86      0.60      0.71        20
          81       0.91      1.00      0.95        20
          82       0.89      0.85      0.87        20
          83       0.77      0.85      0.81        20
          84       0.75      0.90      0.82        20
          85       0.94      0.85      0.89        20
          86       0.86      0.90      0.88        20
          87       0.95      0.90      0.92        20
          88       0.67      1.00      0.80        20
          89       1.00      1.00      1.00        20
          90       0.68      0.95      0.79        20
          91       0.90      0.95      0.93        20
          92       0.74      1.00      0.85        20
          93       0.93      0.70      0.80        20
          94       0.79      0.75      0.77        20
          95       0.91      1.00      0.95        20
          96       0.94      0.80      0.86        20
          97       0.79      0.95      0.86        20
          98       0.87      1.00      0.93        20
          99       0.91      1.00      0.95        20
         100       0.77      0.85      0.81        20
         101       0.89      0.80      0.84        20
         102       0.95      0.95      0.95        20
         103       1.00      0.90      0.95        20
         104       0.94      0.85      0.89        20
         105       0.95      1.00      0.98        20
         106       0.94      0.80      0.86        20
         107       0.63      0.85      0.72        20
         108       1.00      0.80      0.89        20
         109       0.83      0.75      0.79        20
         110       0.76      0.95      0.84        20
         111       1.00      1.00      1.00        20
         112       1.00      0.40      0.57        20
         113       0.87      1.00      0.93        20
         114       1.00      0.95      0.97        20
         115       0.73      0.95      0.83        20
         116       0.90      0.90      0.90        20
         117       1.00      1.00      1.00        20
         118       0.87      0.65      0.74        20
         119       1.00      1.00      1.00        20
         120       0.74      0.85      0.79        20
         121       0.77      1.00      0.87        20
         122       0.83      1.00      0.91        20
         123       1.00      0.95      0.97        20
         124       0.95      0.95      0.95        20
         125       0.95      1.00      0.98        20
         126       0.94      0.85      0.89        20
         127       0.94      0.80      0.86        20
         128       0.86      0.95      0.90        20
         129       0.94      0.75      0.83        20
         130       0.94      0.85      0.89        20
         131       1.00      0.65      0.79        20
         132       1.00      1.00      1.00        20
         133       0.82      0.90      0.86        20
         134       0.94      0.85      0.89        20
         135       0.81      0.85      0.83        20
         136       1.00      0.95      0.97        20
         137       0.67      0.80      0.73        20
         138       0.90      0.95      0.93        20
         139       0.81      0.85      0.83        20
         140       0.82      0.70      0.76        20
         141       0.87      1.00      0.93        20
         142       0.91      1.00      0.95        20
         143       0.85      0.85      0.85        20
         144       0.88      0.70      0.78        20
         145       0.89      0.85      0.87        20
         146       0.69      0.45      0.55        20
         147       0.95      0.95      0.95        20
         148       0.74      1.00      0.85        20
         149       0.77      1.00      0.87        20
         150       1.00      0.04      0.08       100

    accuracy                           0.85      3100
   macro avg       0.86      0.87      0.86      3100
weighted avg       0.87      0.85      0.84      3100

In [30]:
from sklearn.svm import SVC

In [31]:
text_clf_svm = Pipeline([('vect', CountVectorizer()),
                         ('tfidf', TfidfTransformer()),
                         ('clf-svm', SVC(kernel='linear')),
                        ])

In [32]:
text_clf_svm = text_clf_svm.fit(comb.text, comb.intent)
predicted_svm = text_clf_svm.predict(comb_val.text)

In [33]:
print(classification_report(comb_val.intent, predicted_svm))

              precision    recall  f1-score   support

           0       0.83      0.95      0.88        20
           1       0.87      1.00      0.93        20
           2       1.00      1.00      1.00        20
           3       0.83      0.95      0.88        20
           4       0.95      0.90      0.92        20
           5       0.91      1.00      0.95        20
           6       0.95      0.95      0.95        20
           7       0.86      0.90      0.88        20
           8       0.86      0.95      0.90        20
           9       0.89      0.85      0.87        20
          10       0.95      1.00      0.98        20
          11       0.90      0.90      0.90        20
          12       0.93      0.70      0.80        20
          13       0.86      0.95      0.90        20
          14       0.83      0.95      0.88        20
          15       0.91      1.00      0.95        20
          16       1.00      1.00      1.00        20
          17       1.00      1.00      1.00        20
          18       0.71      0.75      0.73        20
          19       0.66      0.95      0.78        20
          20       0.90      0.90      0.90        20
          21       0.59      1.00      0.74        20
          22       0.76      0.80      0.78        20
          23       0.87      1.00      0.93        20
          24       0.84      0.80      0.82        20
          25       1.00      0.90      0.95        20
          26       0.90      0.90      0.90        20
          27       0.76      0.95      0.84        20
          28       1.00      1.00      1.00        20
          29       0.90      0.90      0.90        20
          30       0.79      0.75      0.77        20
          31       0.85      0.85      0.85        20
          32       1.00      0.90      0.95        20
          33       0.90      0.95      0.93        20
          34       0.89      0.80      0.84        20
          35       0.67      0.90      0.77        20
          36       0.87      1.00      0.93        20
          37       0.90      0.90      0.90        20
          38       0.95      1.00      0.98        20
          39       0.94      0.80      0.86        20
          40       0.86      0.90      0.88        20
          41       0.89      0.80      0.84        20
          42       1.00      1.00      1.00        20
          43       0.86      0.90      0.88        20
          44       0.95      1.00      0.98        20
          45       0.80      1.00      0.89        20
          46       0.76      0.65      0.70        20
          47       0.68      0.65      0.67        20
          48       0.95      0.95      0.95        20
          49       0.69      0.90      0.78        20
          50       0.93      0.65      0.76        20
          51       0.90      0.95      0.93        20
          52       1.00      1.00      1.00        20
          53       0.94      0.85      0.89        20
          54       1.00      1.00      1.00        20
          55       1.00      0.60      0.75        20
          56       1.00      0.85      0.92        20
          57       1.00      0.95      0.97        20
          58       0.76      0.80      0.78        20
          59       0.87      1.00      0.93        20
          60       1.00      1.00      1.00        20
          61       1.00      0.80      0.89        20
          62       1.00      0.90      0.95        20
          63       1.00      1.00      1.00        20
          64       0.95      0.95      0.95        20
          65       0.94      0.85      0.89        20
          66       1.00      1.00      1.00        20
          67       1.00      0.95      0.97        20
          68       0.91      1.00      0.95        20
          69       1.00      0.85      0.92        20
          70       1.00      0.95      0.97        20
          71       0.83      0.75      0.79        20
          72       0.82      0.90      0.86        20
          73       1.00      1.00      1.00        20
          74       0.75      0.75      0.75        20
          75       1.00      0.75      0.86        20
          76       0.89      0.85      0.87        20
          77       0.95      0.90      0.92        20
          78       1.00      1.00      1.00        20
          79       0.87      1.00      0.93        20
          80       0.94      0.75      0.83        20
          81       1.00      1.00      1.00        20
          82       1.00      0.85      0.92        20
          83       0.91      1.00      0.95        20
          84       0.95      0.90      0.92        20
          85       1.00      0.85      0.92        20
          86       0.95      1.00      0.98        20
          87       1.00      0.95      0.97        20
          88       0.90      0.95      0.93        20
          89       1.00      1.00      1.00        20
          90       0.81      0.85      0.83        20
          91       0.91      1.00      0.95        20
          92       0.83      1.00      0.91        20
          93       0.94      0.85      0.89        20
          94       0.85      0.85      0.85        20
          95       1.00      1.00      1.00        20
          96       0.85      0.85      0.85        20
          97       0.94      0.85      0.89        20
          98       0.83      0.95      0.88        20
          99       1.00      1.00      1.00        20
         100       0.84      0.80      0.82        20
         101       1.00      0.90      0.95        20
         102       0.95      1.00      0.98        20
         103       0.95      0.90      0.92        20
         104       0.89      0.85      0.87        20
         105       0.95      1.00      0.98        20
         106       1.00      0.80      0.89        20
         107       0.89      0.85      0.87        20
         108       0.86      0.95      0.90        20
         109       0.85      0.85      0.85        20
         110       0.95      0.95      0.95        20
         111       1.00      1.00      1.00        20
         112       0.89      0.85      0.87        20
         113       1.00      1.00      1.00        20
         114       1.00      0.90      0.95        20
         115       0.83      0.95      0.88        20
         116       0.83      0.95      0.88        20
         117       0.91      1.00      0.95        20
         118       0.62      0.80      0.70        20
         119       1.00      1.00      1.00        20
         120       0.90      0.90      0.90        20
         121       1.00      1.00      1.00        20
         122       1.00      1.00      1.00        20
         123       1.00      0.90      0.95        20
         124       1.00      0.90      0.95        20
         125       1.00      1.00      1.00        20
         126       1.00      0.90      0.95        20
         127       1.00      0.80      0.89        20
         128       0.95      0.95      0.95        20
         129       0.86      0.90      0.88        20
         130       0.94      0.85      0.89        20
         131       0.94      0.85      0.89        20
         132       1.00      1.00      1.00        20
         133       0.90      0.90      0.90        20
         134       0.95      0.95      0.95        20
         135       0.94      0.80      0.86        20
         136       1.00      0.80      0.89        20
         137       0.80      0.80      0.80        20
         138       1.00      0.95      0.97        20
         139       0.70      0.80      0.74        20
         140       0.89      0.80      0.84        20
         141       0.83      1.00      0.91        20
         142       1.00      0.95      0.97        20
         143       1.00      1.00      1.00        20
         144       1.00      0.95      0.97        20
         145       0.72      0.90      0.80        20
         146       0.80      0.80      0.80        20
         147       1.00      0.95      0.97        20
         148       1.00      0.90      0.95        20
         149       0.95      1.00      0.98        20
         150       0.54      0.46      0.50       100

    accuracy                           0.89      3100
   macro avg       0.91      0.90      0.90      3100
weighted avg       0.90      0.89      0.89      3100

In [31]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [38]:
X_train_tfidf.shape[1]

5026

In [41]:
model = Sequential()
model.add(Dense(128, activation = 'relu',input_shape = (X_train_tfidf.shape[1],)))
model.add(Dense(64, activation = 'relu'))
model.add(Dense(len(df.intent.unique().tolist()), activation = 'softmax'))

In [42]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 128)               643456
_________________________________________________________________
dense_7 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_8 (Dense)              (None, 150)               9750
=================================================================
Total params: 661,462
Trainable params: 661,462
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [49]:
X_train = X_train_tfidf.toarray()

In [50]:
X_val = X_val_tfidf.toarray()

In [51]:
history = model.fit(X_train, df.intent, validation_data=(X_val, df_val.intent), epochs=50,batch_size=50, verbose=0)